.parent {
    position: fixed; /* or absolute */
    top: 10%;
    left: 23%;
}

.flex-parent {
 display: grid;
 justify-content: space-around;
 grid-template-areas: 'header header header'
                      'news news news';
}

.crypto-main {
    grid-area: crypto;
    position: absolute;
}

.header-container {
    grid-area: header;
    display: flex;
    flex-flow: row nowrap;
}

.weather-main {
    grid-area: weather;
    margin-bottom: 500px;
}

.news-main {
    grid-area: news;
}