.container-f {
    display: flex;
    flex-flow: column;
}

.title-article {
    grid-area: title;
    font-size: 16px;
    font-weight: bolder;
}

.img-article {
    grid-area: image;
    border-radius: 3px;
    width: 176px;
    height: 99px;
    object-fit: cover;
}

.description-article {
    grid-area: description;
    line-height: 16px;
}

.source {
    font-size: 12px;
    font-weight: 300;
    color: #6e7780;
    grid-area: source;
}

.article-info {
    padding-left: 25px;
    font-size: 13px;
}

.article-container {
    display: grid;
    margin-bottom: 14px;
    width: 1000px;
    grid-template-areas: 'image source'
                         'image title'
                         'image description';
}